.grid-item img {
  max-width: 400px;
  height: auto;
}

#menu {
  position: fixed;
  top: 0;
  left: -300px; /* Position the menu off-screen */
  width: 300px; /* Set the width of the menu */
  height: 100%; /* Make the menu take up the full height of the viewport */
  background-color: white; /* Set the background color of the menu */
  border-right: solid rgba(0, 0, 0, 0.116);
  z-index: 1;
  transition: transform 0.1s ease-out; /* Add a transition to the transform property */
}
#menu.active {
  display: block;
  transform: translateX(300px);
  transition: transform 0.18s ease-out;
}
  
/* Menu icon styles */
.menu-icon {
cursor: pointer;
display: inline-block;
}
.menu-icon div {
width: 25px;
height: 3px;
margin: 5px 0;
background-color: black;
}